# Copy this file to terraform.tfvars before customizing:
# Copy-Item terraform.tfvars.example terraform.tfvars

aws_region  = "us-east-1"
project_name = "techpathway-capstone"
environment  = "production"

vpc_cidr = "10.0.0.0/16"

public_subnet_cidrs = [
  "10.0.1.0/24",
  "10.0.2.0/24"
]

private_subnet_cidrs = [
  "10.0.3.0/24",
  "10.0.4.0/24"
]

cluster_name       = "techpathway-eks-cluster"
kubernetes_version = "1.35"

# Verify availability and account eligibility before deployment.
node_instance_types = ["c7i-flex.large"]

node_desired_size = 2
node_min_size     = 2
node_max_size     = 4

ecr_repository_names = [
  "action-messages",
  "techpathway-warehouse",
  "weekly-call"
]